h1 {
  color: rgb(255, 255, 255);
  text-align: left;
  font-size: 1cm;
}

body {
  /* background-color:rgb(240, 128, 128); */
  background-color: rgb(234, 101, 44);
}

.cButton {
  background-color: rgb(0, 59, 223);
  /* color:rgb(240, 128, 128); */
  background-color: rgb(234, 101, 44);
  border: none;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.contactButton {
  /* background-color:rgb(240, 128, 128); */
  background-color: rgb(234, 101, 44);
  color: white;
  border: 2px solid rgb(0, 59, 223);
}

.projectImageButton {
  background-color: rgb(0, 59, 223);
  color: white;
  border: 2px solid rgb(0, 59, 223);
}
.projectImageButton:hover {
  background-color: rgb(234, 101, 44);
  color: white;
  box-shadow: 10px 10px 5px #888888;
}

.changeThemeButton {
  font-size: 1.25rem;
  color: rgb(0, 59, 223);
  margin-right: var(--mb-1);
  cursor: pointer;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

.changeThemeButton:hover {
  color: rgb(67, 206, 252);
}

.contactButton:hover {
  background-color: rgb(0, 59, 223);
  color: white;
}

a:link {
  color: rgb(129, 119, 121);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(129, 119, 121);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(0, 59, 223);
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: rgb(0, 59, 223);
  background-color: transparent;
  text-decoration: none;
}

.scrollButton {
  color: var(--first-color);
  transition: 0.3s;
  margin-left: 3rem;
}

.scrollButton:hover {
  transform: translateY(0.25rem);
}

.scrollText {
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-right: var(--mb-0-25);
}

.linkIcons {
  color: rgb(0, 59, 223);
  font-size: 1.5rem;
}

.linkIcons:hover {
  color: rgb(67, 206, 252);
}

.mouseIcon {
  color: rgb(0, 59, 223);
  font-size: 2rem;
}

.arrowIcon {
  color: rgb(0, 59, 223);
  font-size: 1.5rem;
}

.Neil {
  color: rgb(129, 119, 121);
  background-color: transparent;
  text-decoration: none;
}

.navbar {
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 100%;
  z-index: 999;
}

.headers {
  color: white;
  font-size: xx-large;
}
.paragraphs {
  color: rgb(54, 53, 53);
  text-align: left;
}
.placeholderText {
  color: rgb(234, 101, 44);
}
.skillImage {
  color: white;
}
.skillImage:hover {
  rotate: 25deg;
}
.bottomText {
  font-size: var(--small-font-size);
  display: block;
  text-align: center;
}
.inputBox {
  width: 300px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid rgb(0, 59, 223);
  background-color: transparent;
}
.projectHeader {
  text-align: center;
  position: relative;
  left: 50%;
  top: 60%;
  font-size: 1cm;
}
.projectHeader-afterCyberToggle {
  text-align: center;
  position: relative;
  left: 50%;
  top: 225%;
  /*-100*/
  font-size: 1cm;
}
.projectButtons-afterCyberToggle {
  font-size: larger;
  position: relative;
  left: 60%;
  top: 225%;
  text-align: center;
  width: 5cm;
}

.hackathonsTitle {
  font-size: larger;
  position: relative;
  right: 83%;
  top: 285%;
  text-align: center;
}
.projectButtons {
  font-size: larger;
  position: relative;
  left: 60%;
  top: 60%;
  text-align: center;
  width: 5cm;
}

.project1 {
  position: relative;
  text-align: center;
  top: 100%;
  right: 50%;
  width: 325px;
  height: 250px;
}
.project1-text {
  position: relative;
  top: 100%;
  right: 77%;
}
.project2 {
  position: relative;
  text-align: center;
  top: 100%;
  right: 0%;
  width: 325px;
  height: 250px;
}
.project2-text {
  position: relative;
  top: 100%;
  right: 7%;
}
.project3 {
  position: relative;
  text-align: center;
  top: 100%;
  right: 50%;
  width: 325px;
  height: 250px;
}
.project3-text {
  position: relative;
  top: 100%;
  right: 57%;
}
.project4 {
  position: relative;
  text-align: center;
  top: 100%;
  right: 0%;
  width: 325px;
  height: 250px;
}
.project4-text {
  position: relative;
  top: 100%;
  right: 7%;
}

.projectButton-project {
  background-color: rgb(0, 59, 223);
  border: 2px solid rgb(67, 206, 252);
}
.projectButton-cyber {
  background-color: rgb(0, 59, 223);
  border: 2px solid rgb(67, 206, 252);
}

.project1 {
  position: relative;
  text-align: center;
  top: 77%;
  right: 75%;
  width: 325px;
  height: 250px;
}
.project1-text {
  position: relative;
  top: 77%;
  right: 89%;
}
.project2 {
  position: relative;
  text-align: center;
  top: 100%;
  right: 0%;
  width: 325px;
  height: 250px;
}
.project2-text {
  position: relative;
  top: 100%;
  right: 7%;
}
.project3 {
  position: relative;
  text-align: center;
  top: 55%;
  right: 75%;
  width: 325px;
  height: 250px;
}
.project3-text {
  position: relative;
  top: 55%;
  right: 89%;
}
.project4 {
  position: relative;
  text-align: center;
  top: 100%;
  right: 0%;
  width: 325px;
  height: 250px;
}
.project4-text {
  position: relative;
  top: 100%;
  right: 7%;
}
.contactHeader {
  text-align: center;
  position: relative;
  left: 122%;
  top: 150%;
  font-size: 1cm;
}

.contactHeader-afterCyberToggle {
  text-align: center;
  position: relative;
  left: 122%;
  top: 350%;
  font-size: 1cm;
}

.contactParagraph {
  font-size: larger;
  position: relative;
  left: 122%;
  top: 145%;
  text-align: center;
}

.contactParagraph-afterCyberToggle {
  font-size: larger;
  position: relative;
  left: 122%;
  top: 350%;
  text-align: center;
}


.contactInputNameBox {
  position: relative;
  right: 15%;
  top: 200%;
}

.contactInputNameBox-afterCyberToggle {
  position: relative;
  right: 15%;
  top: 400%;
}

.contactInputEmailBox {
  position: relative;
  right: 15%;
  top: 200%;
}

.contactInputEmailBox-afterCyberToggle {
  position: relative;
  right: 15%;
  top: 400%;
}
.contactInputMessageBox {
  position: relative;
  right: 15%;
  top: 200%;
  width: 609px;
  height: 150px;
}

.contactInputMessageBox-afterCyberToggle {
  position: relative;
  right: 15%;
  top: 400%;
  width: 609px;
  height: 150px;
}
.contactSubmitButton {
  position: relative;
  right: 15%;
  top: 200%;
}

.contactSubmitButton-afterCyberToggle {
  position: relative;
  right: 15%;
  top: 400%;
}
.mailMeButton {
  position: relative;
  right: -28%;
  top: 208%;
  width: 2.5cm;
}

.mailMeButton-afterCyberToggle {
  position: relative;
  right: -28%;
  top: 410%;
  width: 2.5cm;
}
.callMeButton {
  position: relative;
  right: -28%;
  top: 210%;
  width: 2.5cm;
}

.callMeButton-afterCyberToggle {
  position: relative;
  right: -28%;
  top: 413%;
  width: 2.5cm;
}
.locateMeButton {
  position: relative;
  right: -28%;
  top: 213%;
  width: 2.5cm;
}

.locateMeButton-afterCyberToggle {
  position: relative;
  right: -28%;
  top: 416%;
  width: 2.5cm;
}
.placeHolderButton {
  color: transparent;
  position: relative;
  top: 300%;
  text-align: center;
}

.placeHolderButton-afterCyberToggle {
  color: transparent;
  position: relative;
  top: 575%;
  text-align: center;
}
.fallCTFButton {
  position: relative;
  right: 50%;
  top: 285%;
  width: 6.5cm;
}
.CSAWButton {
  position: relative;
  right: 50%;
  top: 288%;
  width: 6.5cm;
}
.buckeyeCTF {
  position: relative;
  right: 50%;
  top: 291%;
  width: 6.5cm;
}
